extends base

block content
    main.main
        .div-container
            .div-addProduct
                    a.a-addProduct(href='/addProduct')
                        span Add Product
            .div-addProduct
                    a.a-downloadCSV(href='/api/create_report')
                        span Download CSV
            each product in products.data
                .div-product
                    h2.product-name
                        span= `${product.name}`
                    h2.product-name 
                        span= `Qty: ${product.quantity}`
                    h2.product-name
                        span= `Location: ${product.city}`
                    h2.product-weather 
                        span= `${product.weather[0].description}`
                    img.weather-img(src=`http://openweathermap.org/img/wn/${product.weather[0].icon}@2x.png`, alt="weather icon")
                    a.btn-update(id=`btn--update` type="button" href=`http://localhost:3000/updateProduct/${product.slug}`)
                        span Update
                    a.btn-delete(id=`btn--delete` type="button" href=`http://localhost:3000/deleteProduct/${product.id}`)
                        span Delete
                    


